<nav class="navbar navbar-light bg-primary">
    <div class="contrainer-fluid">
        <h1 style="color:aliceblue">Angular CRUD</h1>
        <div class="d-flex">
            <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add
                Employee</button>
        </div>
    </div>
</nav>
<table class="table ">
    <thead>
        <tr>
           
            <th scope="col">User ID</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.userid}}</td>
            <td>{{row.id}}</td>
            
            <td>{{row.title}}</td>
            <td>{{row.status}}</td>
            <td>
                <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">User ID</label>
                        <input type="number" formControlName="userid" class="form-control" id="exampleInputUserID"
                            aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input type="text" formControlName="id" class="form-control" id="exampleInputID"
                            aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Title</label>
                        <input type="text" formControlName="title" class="form-control" id="exampleInputTitle"
                            aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Status</label>
                        <input type="string" formControlName="status" class="form-control" id="exampleInputStatus"
                            aria-describedby="emailHelp">

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button"  (click)="postEmployeedetails()" class="btn btn-primary">Add</button>
                <button type="button"  (click)="UpdateEmployeedetails()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>