<nav class="navbar navbar-light bg-primary">
    <div class="contrainer-fluid">
        <h1 style="color:aliceblue">Angular CRUD</h1>
        <div class="d-flex" >
            <button  (click)="formreset() "type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add
                Employee</button>
                <button routerLink="/login" class="btn btn-danger mx-2">LogOut</button>
        </div>
    </div>
</nav>
<table class="table ">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.title}}</td>
            <td>{{row.description}}</td>
            <td>{{row.status}}</td>
            <td>{{row.image}}</td>

            <td>
                <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete </button>
            </td>
        </tr>
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">                    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Employee Name</label>
                        <input type="text" formControlName="title" class="form-control" id="exampleInputTitle"
                            aria-describedby="emailHelp">
                            
                          <span class="text-danger" *ngIf="formValue.controls['title'].dirty && formValue.hasError('required','title')">*Space can't be left empty</span>
                          
                        </div>
                    

                    <!-- </div> -->
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Description</label>
                        <textarea type="number" formControlName="description" class="form-control" id="exampleInputUserID"
                            aria-describedby="emailHelp"></textarea>
                            


                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Status</label>
                        <select type="select" formControlName="status" class="form-control" id="exampleInputStatus"
                            aria-describedby="emailHelp">
                            
                            <option selected="selected" value="1">Completed</option>
                            <option value="0">Incomplete</option>
                                
                      </select>

                    </div>
                    <!-- <div>
                        <input type="file" (change)="onFileSelected($event)">
                    </div> -->


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="!isUpdated"  (click)="postEmployeedetails()" class="btn btn-primary">Add</button>
                <button type="button" *ngIf="isUpdated"  (click)="UpdateEmployeedetails()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>